* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 4rem;
}

.box-container {
  padding-bottom: 20rem;
}

.box {
  width: 20rem;
  height: 20rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  padding: 2rem;
  list-style: none;
  margin: 0.5rem;
}

button {
  color: white;
  padding: 1rem;
  margin-right: 1.4rem;
  margin-bottom: 2rem;
  border: none;
  background-color: rgb(48, 144, 197);
  font-size: 1rem;
  font-weight: 700;
  width: 15rem;
  cursor: pointer;
}